---
title: Software Repositories - sorah.jp
---

Sorah (nekom.it) maintains some binary packages and its repositories.

## Debian Packages

### sorah-rbpkg repo

- Source: https://github.com/sorah-rbpkg
- Key: [sorah-rbpkg (3F0F56A8)](./3F0F56A8.pub.txt)

```
deb https://cache.ruby-lang.org/lab/sorah/deb/ trusty main
deb https://cache.ruby-lang.org/lab/sorah/deb/ xenial main
deb https://cache.ruby-lang.org/lab/sorah/deb/ bionic main
deb https://cache.ruby-lang.org/lab/sorah/deb/ stretch main
deb https://cache.ruby-lang.org/lab/sorah/deb/ buster main
```

Note: this repository is NOT SUPPORTED by Ruby core team. Maintained by Sorah, a Ruby committer, individually.

#### Support status

<table>
  <thead>
    <tr>
      <td>Series</td>
      <td>u14.04 trusty</td>
      <td>u16.04 xenial</td>
      <td>u18.04 bionic</td>
      <td>d9 stretch</td>
      <td>d10 buster</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2.5</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <!-- ^ubuntu^ -->
      <td>o</td>
      <td> </td>
    </tr>
    <tr>
      <td>2.6</td>
      <td> </td>
      <td>o</td>
      <td>o</td>
      <!-- ^ubuntu^ -->
      <td>o</td>
      <td>o</td>
    </tr>
    <tr>
      <td>2.7</td>
      <td> </td>
      <td>o</td>
      <td>o</td>
      <!-- ^ubuntu^ -->
      <td> </td>
      <td>o</td>
    </tr>
  </tbody>
</table>

o = supported, x = EOL; abandoned, (unmarked) = no package exists.

* Unless the above table is updated, [the supported ruby branches](https://www.ruby-lang.org/en/downloads/branches/) are only the supported branches.
* I will build the packages of the new Ruby series, only for the modern distros. Older distros could not be supported even they're still supported from the distributor.
* Vice versa, the older Ruby series could not be provided for the modern distros.
* I may give up the support earlier than the Ruby team's official support status and the distro support status.

#### Packages

Ubuntu (amd64)

<%- data.deb.ruby.each do |dist, sources| -%>
- <%= dist %>
<%- sources.each do |source, packages| -%>
<%- source_repo = source -%>
<%- source_repo = 'ruby' if /^ruby\d\./ === source -%>
  - [<%= source %>](https://github.com/sorah-rbpkg/<%= source_repo %>/releases) (<%= packages.keys.join(", ") %>)
<%- [packages.values.first.versions.first].each do |version| -%>
     - `<%= version %>`
<%- end -%>
<%- end -%>
<%- end -%>

Versions may inaccurate, check `apt-cache show-policy` or refer [Release page of each repositories](https://github.com/sorah-rbpkg)

### nekomit-originals repo

- https://github.com/nkmideb
- https://deb.nekom.it/
- Key: [nekomit-bintray (C3FF3305)](./C3FF3305.pub.txt)

```
deb https://deb.nekom.it/ trusty main
deb https://deb.nekom.it/ xenial main
```

#### Packages

<%- data.deb.nekomit.each do |dist, sources| -%>
- <%= dist %>
<%- sources.each do |source, packages| -%>
<%- source_repo = source -%>
  - [<%= source %>](https://github.com/nkmideb/<%= source_repo %>/releases) (<%= packages.keys.join(", ") %>)
<%- versions = packages.values.first.versions -%>
<%- versions = [versions.first] if source != 'ruby-defaults' -%>
<%- versions.each do |version| -%>
     - `<%= version %>`
<%- end -%>
<%- end -%>
<%- end -%>

## Disclaimer

ALL FILES IN THESE REPOSITORIES ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

<!-- vim: ft=markdown
-->
