<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Sorah Fukumori, Shota Fukumori, sora_h, sorah, Sora Harakami, 福森, 空葉, 福森空葉, そらはー, そらは">

    <!--<script defer src="/pages/nkmi-net-beacon/beacon.js"></script>-->

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "common", "profile", "ligature_symbols" %>

    <%= current_page.data.head || '' %>

    <title><%= current_page.data.title || "sorah.jp" %></title>
  </head>
  <body class="<%= page_classes %>">
    <header>
      <div class="inner">
        <span class="logo"><a href="/">sorah.jp</a></span>

        <nav class="left">
          <ul>
            <li><a href="/about.html">about</a></li>
            <li><a href="/id.html">identifications</a></li>
            <li><a href="/pages">pages</a></li>
          </ul>
          <ul>
            <li><a href="http://blog.sorah.jp/">blog(en)</a></li>
            <li><a href="http://diary.sorah.jp/">diary(ja)</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="container">
      <%= yield %>
    </div>

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "46d42180b13e4077853324d7d499720c"}'></script><!-- End Cloudflare Web Analytics --> 
  </body>
</html>
